extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit Product
			small menu for editing product data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Lainnya  
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Edit Product
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/products/edit/#{(id==undefined) ? data.id : id}' enctype='multipart/form-data')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-check
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Gambar
									input(type='file',name='gambar').form-control
								.form-group
									label
										|  Nama Barang
									input(type='text',value="#{(Nama_Barang == undefined)? data.Nama_Barang : Nama_Barang}",name='Nama_Barang',placeholder='Masukkan Nama_Barang', autofocus).form-control
								.form-group
									label
										| Warna
									input(type='text',value="#{(warna == undefined) ? data.warna : warna}",name='warna',placeholder='Masukkan Warna').form-control
								.form-group
									label
										| Harga
									input(type='text',value="#{(Harga_Barang == undefined) ? data.Harga_Barang : Harga_Barang}",name='Harga_Barang',placeholder='Masukkan Harga_Barang').form-control
								.form-group
									label
										| Stok
									input(type='text',value="#{(Stok_Hp == undefined) ? data.Stok_Hp : Stok_Hp}",name='Stok_Hp',placeholder='Masukkan Stok_Hp').form-control
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/products').btn.btn-primary.pull-right
									| Back